html, body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

button {
  margin: 5px 5px;
}

label {
  color: #000000;
}

.card {
  width: 20rem;
  cursor: pointer;
  display: inline-block;
}

.card:nth-child(2) {
  margin: 0px 25px;
}

.card-header {
  color: #000000;
}

.card-body pre {
  min-height: 10rem;
}

.text-left {
  text-align: left
}

.hljs {
  background-color: inherit;
}

.sideNav {
  background-color: #ffffff;
  max-height: 800px;
  overflow-y: scroll;
}

.sideNav a {
  display: block;
  margin: 5px;
}

.sideNav a.selected {
  font-weight: bold;
}